<header class="header">
    <div class="header-top">
        <div class="container">
            <div class="header-top__left">
                <div class="address">г. Воронеж, ул. Волгоградская д. 46 А</div>
                <div class="worktime">09:00 - 20:00</div>
                <a href="mailto:info@foxweld36.ru" class="mail">info@foxweld36.ru</a>
            </div>
            <div class="header-top__right">
                <div class="social">
                    <a href="#" class="soc vk">
                        <svg>
                        <use xlink:href="#vk"></use>
                      </svg>
                    </a>
                    <a href="#" class="soc inst">
                        <svg>
                        <use xlink:href="#inst"></use>
                      </svg>
                    </a>
                    <a href="#" class="soc fb">
                        <svg>
                        <use xlink:href="#fb"></use>
                      </svg>
                    </a>
                    <a href="#" class="soc tube">
                        <svg>
                        <use xlink:href="#tube"></use>
                      </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="container">
            <div class="header-bottom__left">
                <a href="/" class="logo"><img src="img/logo.png" alt=""></a>
                <ul class="menu">
                    <li><a href="#">Главная</a></li>
                    <li class="sub">
                        <a href="#">Каталог</a>
                        <ul class="sub-menu">
                            <li><a href="#">Электросварка</a></li>
                            <li><a href="#">Строительный инструмент</a></li>
                            <li><a href="#">Насосное оборудование</a></li>
                            <li><a href="#">Электрогенераторы</a></li>
                            <li><a href="#">Садовое оборудование</a></li>
                            <li><a href="#">Пневмоинструмент</a></li>
                            <li><a href="#">Средства защиты, одежда</a></li>
                            <li><a href="#">Расходные материалы</a></li>
                            <li><a href="#">Газосварка</a></li>
                            <li><a href="#">Тепловое оборудование</a></li>
                            <li><a href="#">Компрессоры</a></li>
                            <li><a href="#">Аксессуары для электросварки</a></li>
                            <li> <a href="#">Зарядные устройства</a></li>
                    </li>
                    </ul>
                    </li>
                    <li><a href="#">Дилерам</a></li>
                    <li><a href="#">Контакты</a></li>
                    <li class="sub">
                        <a href="#">О компании</a>
                        <ul class="sub-menu">
                            <li><a href="#">О нас</a></li>
                            <li><a href="#">Новости</a></li>
                            <li><a href="#">Статьи и обзоры</a></li>
                            <li><a href="#">Видео</a></li>
                            <li><a href="#">Вакансии</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="header-bottom__right">
                <a class="phone" href="tel:+74732573858"><span>+7 473</span> 257 38 58</a>
            </div>
        </div>
    </div>
</header>